

:root {
    --cor-primaria: #2A6F97;
    --cor-secundaria: #014F86;
    --cor-acento: #89C2D9;
    --cor-hover: #1B4965;
    --cor-sucesso: #2ECC71;
    --cor-erro: #E63946;
    --cor-neutro-claro: #f1f1f1;
    --cor-preto: #111;

    --fs-xxl: 32px;
    --fs-xl: 28px;
    --fs-lg: 22px;
    --fs-md: 18px;
    --fs-sm: 16px;
   
    --sp-1: 8px;
    --sp-2: 16px;
    --sp-3: 24px;
    --sp-4: 32px;
    --sp-5: 48px;
    --sp-6: 64px;
}

body {
    background-color: var(--cor-neutro-claro);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--sp-3);
    padding: var(--sp-4);
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 400px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
